@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="x_panel">
    <div class="x_content">
        <div id='calendar'></div>
    </div>
</div>
<!-- /page content -->
<!-- calendar modal -->
<div id="CalendarModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" asp-controller="Home" asp-action="AddNewEvent" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name">
                                Title<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="title" required="required" asp-for="Name" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Description">
                                Description
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea class="form-control col-md-7 col-xs-12" id="description" asp-for="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Location">
                                Location
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" id="location" asp-for="Location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="StrStartDate">
                                Start Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='myDatepicker3'>
                                    <input id="startdate" type='text' class="form-control" asp-for="StrStartDate" placeholder="DD.MM.YYYY HH:MM" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="StrEndDate">
                                End Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='myDatepicker4'>
                                    <input id="enddate" type='text' class="form-control" asp-for="StrEndDate" placeholder="DD.MM.YYYY HH:MM" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info antoclose2" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary antosubmit2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CalendarModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal2" style="padding: 5px 20px;">
                    <form id="antoform2" class="form-horizontal calender" asp-controller="Home" asp-action="UpdateEvent" role="form">
                        <input type="hidden" class="form-control" asp-for="EventId" id="eventId2" readonly>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name">
                                Title<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="title2" required="required" asp-for="Name" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Description">
                                Description
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea class="form-control col-md-7 col-xs-12" id="description2" asp-for="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Location">
                                Location
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12" id="location2" asp-for="Location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="StrStartDate">
                                Start Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='myDatepicker5'>
                                    <input id="startdate2" type='text' class="form-control" asp-for="StrStartDate" placeholder="DD.MM.YYYY HH:MM" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="StrEndDate">
                                End Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class='input-group date' id='myDatepicker6'>
                                    <input id="enddate2" type='text' class="form-control" asp-for="StrEndDate" placeholder="DD.MM.YYYY HH:MM" required="required" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteBtn" class="pull-left btn btn-danger" onclick="location.href='@Url.Action("DeleteEvent", "Home")?eventId=' + $('#eventId2').val()">Delete Event</button>
                            <button type="button" class="btn btn-info antoclose2" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary antosubmit2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fc_create" data-toggle="modal" data-target="#CalendarModalNew"></div>
<div id="fc_edit" data-toggle="modal" data-target="#CalendarModalEdit"></div>
<!-- /calendar modal -->
@section Scripts
    {
    <script>
        var eventList = '@Model.jsonEvents';
    </script>
    <script src="~/js/custom.js" charset="utf-8"></script>
}