@model NewTraineeViewModel
@{
    ViewData["Title"] = "New Trainee";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewData["Title"]</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form id="new-trainee" asp-controller="Home" asp-action="AddNewTrainee" data-parsley-validate class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name">
                    Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" required="required" asp-for="Name" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Surname">
                    Surname <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="surname" name="surname" required="required" asp-for="Surname" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Email">
                    Email <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="email" name="email" required="required" asp-for="Email" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="DateOfBirth">
                    Date Of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class='input-group date' id='myDatepicker2'>
                        <input id="birthday" type='text' class="form-control" asp-for="DateOfBirth" data-inputmask="'mask': '99.99.9999'" placeholder="DD.MM.YYYY" required="required" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Image">
                    Image
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img id="preview" style="height:100px;" src="~/images/user.png" alt="ProfileImage" />
                    <input type="file" accept="image/*" size="100" id="image" name="image" asp-for="Image" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Phone">
                    Phone
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="tel" id="phone" name="phone" asp-for="Phone" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Weight">
                    Weight
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" step="0.1" id="weight" name="weight" asp-for="Weight" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Height">
                    Height
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" id="height" name="height" asp-for="Height" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="FatRatio">
                    Fat Ratio
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" step="0.01" id="fat-ratio" name="fat-ratio" asp-for="FatRatio" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="City">
                    City
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="city" name="city" asp-for="City" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Gender">Gender</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="gender" value="male" asp-for="Gender"> &nbsp; Male &nbsp;
                        </label>
                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                            <input type="radio" name="gender" value="female" asp-for="Gender"> Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>