@model RegisterViewModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> trAssist Login </title>
    <environment include="Development">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
        <!--===============================================================================================-->
    </environment>
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            @* BackGround: style="background-image: url('@Url.Content("~/images/bg-01.jpg")');" *@
            <div class="wrap-login100">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-26">
                        Register
                    </span>

                    <a asp-controller="Home" asp-action="Index">
                        <span class="login100-form-title p-b-24">
                            <i class="fa fa-paw"></i>
                        </span>
                    </a>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="wrap-input100 validate-input" data-validate="Enter name">
                        <input asp-for="Name" class="input100" />
                        <span asp-validation-for="Name" class="focus-input100" data-placeholder="Name"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter surname">
                        <input asp-for="Surname" class="input100" />
                        <span asp-validation-for="Surname" class="focus-input100" data-placeholder="Surname"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter email address">
                        <input asp-for="Email" class="input100" />
                        <span asp-validation-for="Email" class="focus-input100" data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input asp-for="Password" class="input100" />
                        <span asp-validation-for="Password" class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter confirmation of password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input asp-for="ConfirmPassword" class="input100" />
                        <span asp-validation-for="ConfirmPassword" class="focus-input100" data-placeholder="Confirm Password"></span>
                    </div>
                    <div class="contact100-form-checkbox">
                        <input asp-for="Terms" class="input-checkbox100" type="checkbox" />
                        <label asp-for="Terms" class="label-checkbox100">
                            @Html.DisplayNameFor(m => m.Terms)
                        </label>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">Register</button>
                        </div>
                    </div>
                    <div class="text-center p-t-15">
                        <a class="txt1" asp-action="Login">Already have an account?</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="pull-right">
            <p>©2018 All Rights Reserved by Colorlib</p>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    <!--===============================================================================================-->
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/bower_components/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/js/main.js"></script>
</body>
</html>